pipeline/02-Pipeline.json
{
	"name": "02-Pipeline",
	"properties": {
		"description": "Copy Files from blob to blob using get metadata, filter and foreach activity!",
		"activities": [
			{
				"name": "File Information",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Get_Matadata",
						"type": "DatasetReference",
						"parameters": {
							"Source_container_Name_Datasets_Level": {
								"value": "@pipeline().parameters.Source_container_Name_pipeline_Level",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter for CSV Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "File Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('File Information').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(endswith(item().name, '.csv'),startswith(item().name, 'EMP') )\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter for JSON Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "File Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('File Information').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, 'json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach CSV Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for CSV Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for CSV Files').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data for CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Source_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Source_Container_CSV": "first-container"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_For_CSV",
									"type": "DatasetReference",
									"parameters": {
										"Sink_Container_Name_CSV": "csv-ontainer",
										"Sink_FIle_Name_CSV": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach JSON File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for JSON Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for JSON Files').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data for json",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Source_JSON",
									"type": "DatasetReference",
									"parameters": {
										"file_Name_Json": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_For_Json",
									"type": "DatasetReference",
									"parameters": {
										"Container_Name_Json": "json-container",
										"File_Name_json": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Table Information_CSV",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ForEach CSV Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Get_Matadata",
						"type": "DatasetReference",
						"parameters": {
							"Source_container_Name_Datasets_Level": {
								"value": "@pipeline().parameters.Source_container_Name_pipeline_Level",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Table Information_Json",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "ForEach JSON File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Get_Matadata",
						"type": "DatasetReference",
						"parameters": {
							"Source_container_Name_Datasets_Level": {
								"value": "@pipeline().parameters.Source_container_Name_pipeline_Level",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"Source_container_Name_pipeline_Level": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-25T20:08:29Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}